@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components{
  /*  dashboard start here */
  .dashboardHeader{
    @apply w-full px-3 py-7 border-b bg-gray-50 sticky top-0 flex items-center justify-start gap-[100px] z-[999]
  }
  .dashboardHeader .logo{
     @apply w-[280px] text-blue-950 flex items-center justify-between
  }
  /* search results area */
  .searchInput{
    @apply w-full py-3 px-3 pl-10 focus:outline-none border border-gray-100 bg-white rounded-sm
  }
  .searchResultArea{
    @apply w-full h-auto py-5 max-h-[400px] overflow-y-auto bg-gray-50 rounded-b-md shadow-md absolute top-12 left-0 text-gray-700 z-[999]
  }
   .dashboard{
    @apply flex flex-wrap  bg-gray-100
   }
   .dashboardSidebar{
     @apply h-screen overflow-y-auto duration-300 bg-gray-50 text-black 
   }

   .sidebarItem{
     @apply capitalize tracking-widest my-3 py-3 px-3 font-bold cursor-pointer  hover:bg-purple-100 hover:text-purple-500 duration-300
   }
   .sidebarSubItem{
    @apply my-3 hover:bg-purple-200 px-2 py-1 font-medium text-sm text-black hover:text-black
   }
   .dashboardMain{
    @apply flex-1 px-4 h-screen overflow-y-auto
   }

   .adminLoginPage{
    @apply bg-gray-100 w-full h-screen flex items-center justify-center
   }
   .adminLogin{
    @apply w-[90%] py-20 bg-white shadow-md shadow-gray-200 flex items-center justify-between flex-wrap
   }
    .adminLogin div{
      @apply w-[48%]
    }
    .adminLogin form{
      @apply px-10
    }
.input{
  @apply w-full py-2 px-3 my-3 focus:outline-0 bg-gray-100 border 
}
.formBtn{
  @apply py-3 px-4 text-center font-medium w-full capitalize my-5 bg-blue-500 hover:bg-blue-600 text-white rounded-3xl duration-200
}

.addAdminPage{
  @apply w-full h-screen flex items-center justify-center
}
.addAdminPage form{
   @apply w-full md:w-[75%] m-auto bg-white px-5 py-20
}
.addAdminPage form input{
  @apply input
}
.adminListPage{
  @apply my-20 py-10 px-4 bg-white 
}
.table{
  @apply px-4 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}
.table thead{
   @apply  text-xs text-gray-700 uppercase bg-gray-100  
}
 
.table tr{
  @apply   border-b dark:border-gray-700
}
.table tr td{
  @apply  py-4 font-medium whitespace-nowrap
}.table input{
  @apply cursor-pointer
}
.editBtn{
  @apply py-1 px-2 text-2xl rounded-md text-black bg-yellow-500  hover:bg-yellow-700 cursor-pointer
}
.deleteBtn{
  @apply py-1 px-2 text-2xl rounded-md text-white bg-red-500 hover:bg-red-700  cursor-pointer
}
     /*  dashboard end here */
 }
 
 @layer base{
   ::-webkit-scrollbar {
    width: 8px;               
  }
  
   ::-webkit-scrollbar-track {
    background: rgb(136, 172, 233);        
  }
  
   ::-webkit-scrollbar-thumb {
    background-color: rgb(32, 46, 152);   
    border-radius: 20px;       
  }
 }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
