@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components{
  /*  dashboard start here */
  .dashCard{
    @apply flex items-center justify-between p-4 w-[48%] md:w-[31%]  shadow-sm rounded-md
  }
  .count{
    @apply font-medium text-2xl my-2
  }
  .dashboardHeader{
    @apply w-full px-3 py-7 border-b bg-gray-50 sticky top-0 flex items-center justify-start gap-[100px] z-[999]
  }
  .dashboardHeader .logo{
     @apply w-[280px] text-blue-950 flex items-center justify-between
  }
  /* search results area */
  .searchInput{
    @apply w-full py-3 px-3 pl-10 focus:outline-none border border-gray-100 bg-white rounded-sm
  }
  .searchResultArea{
    @apply w-full h-auto py-5 max-h-[400px] overflow-y-auto bg-gray-50 rounded-b-md shadow-md absolute top-12 left-0 text-gray-700 z-[999]
  }
   .dashboard{
    @apply flex flex-wrap  bg-gray-200
   }
   .dashboardSidebar{
     @apply h-screen overflow-y-auto duration-300 bg-[#4d44b5] text-white 
   }

   .sidebarItem{
     @apply capitalize tracking-widest my-3 py-3 px-3 font-bold cursor-pointer  hover:bg-[#6459df] hover:text-white duration-300
   }
   .sidebarSubItem{
    @apply my-3 hover:bg-[#695df4] px-2 py-1 font-medium text-sm text-white hover:text-white
   }
   .dashboardMain{
    @apply flex-1 px-4 py-10 h-screen overflow-y-auto
   }

   .adminLoginPage{
    @apply bg-gray-100 w-full h-screen flex items-center justify-center
   }
   .adminLogin{
    @apply w-[90%] py-20 bg-white shadow-md shadow-gray-200 flex items-center justify-between flex-wrap
   }
    .adminLogin div{
      @apply w-[48%]
    }
    .adminLogin form{
      @apply px-10
    }
.input{
  @apply w-full rounded-md py-2 px-3 my-3 focus:outline-0 bg-white border border-gray-300
}
.formBtn{
  @apply py-3 px-4 flex items-center justify-center gap-2 text-center font-medium w-full capitalize my-5 bg-blue-500 hover:bg-blue-600 text-white rounded-3xl duration-200
}

.addAdminPage{
  @apply w-full flex items-center justify-center
}
.addAdminPage form{
   @apply w-full md:w-[75%] m-auto bg-white rounded-md px-5 py-20
}
.addAdminPage form input{
  @apply input
}
.adminListPage{
  @apply py-10 px-4 bg-white 
}
.table{
  @apply px-4 w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}
.table thead{
   @apply  text-xs text-gray-700 uppercase  
}
.table thead th{
  @apply  text-xs py-5 
}
 
.table tr{
  @apply   border-b dark:border-gray-700
}
.table tr td{
  @apply  py-4 font-medium whitespace-nowrap
}.table input{
  @apply cursor-pointer
}
.editBtn{
  @apply py-2 px-3 text-2xl bg-blue-600 text-white rounded-md inline-block cursor-pointer
}
.iconBtn{
  @apply py-2 px-3 text-2xl rounded-md inline-block cursor-pointer
}
.deleteBtn{
  @apply py-2 px-3 text-2xl bg-red-500 inline-block rounded-md text-white cursor-pointer hover:bg-red-700 duration-200
}

/*  student pages */
.manageStudentPage{
  @apply w-full py-10 px-5 bg-gray-50
}
.studentFilter{
  @apply flex items-center gap-5 my-4
}
.studentFilter div{
  @apply w-[300px]
}
.studentFilter p{
  @apply text-gray-500
}
.studentFilter input{
  @apply w-full input
}
.studentTableContainer{
    @apply my-10  overflow-x-auto
}
/*  student pages end */

.complain_page{
  @apply bg-white text-gray-500 p-5
}
 /*  add staff page */
 .addStaffPage {
  @apply  bg-white rounded-md p-10
 }
 .addStaffPage form{
  @apply flex items-center justify-between flex-wrap
 }
 .addStaffPage div{
  @apply w-full md:w-[48%]  
 }
 .adminPage{
  @apply bg-white px-2 py-10 rounded-md
 }
 /*  add staff page end */

 /*  profile start here */

     .profileCard{
      @apply w-[50%] m-auto bg-white border border-gray-100  py-5 shadow-md
     }
    .profileDetails{
      @apply my-10
    }
    .profileDetails div{
      @apply text-center   bg-white
    }
    .profileDetails div h1{
      @apply my-3 text-xl font-medium
    }
  
 /*  profile end here */


 /* 1 dashboard end here */

 /*  1 client side start here mainAsideWrapper start here */
     .mainAsideWrapper{
      @apply flex justify-between flex-wrap
     }
     .mainAsideWrapper main{
      @apply w-full md:w-[74%] md:border-r border-gray-500 px-5
     }
     .mainAsideWrapper aside{
      @apply w-full md:w-[25%] px-2
     }

     .sidebarCard{
      @apply shadow-md  p-1 mb-5 w-full rounded-md  
     }
     .sidebarFooter{
      @apply w-full block capitalize bg-green-800 text-white text-center py-1
     }


 /*  1 client side  mainAsideWrapper end here */


 /*  basic utils start here */

 .bgColor{
   @apply bg-green-800
 }
 .card{
  @apply shadow-md py-4 my-4 text-sm
 }
 
 .card div{
  @apply my-4  
 }
 .btn_wrap{
  @apply flex justify-end
 }
.myBtn{
  @apply py-2 px-4 bgColor text-white font-medium rounded-md my-2 text-sm
}
     .modalHeader{
      @apply  flex items-center justify-center bg-black bg-opacity-80 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  w-full md:inset-0 h-[calc(100%-1rem)] max-h-full
     }
     .modalContainer{
      @apply  flex items-center justify-center bg-black bg-opacity-80 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50  w-full md:inset-0 h-[calc(100%-1rem)] max-h-full
     }
     .modalLabel{
      @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize
     }
     .modalInput{
      @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
     }
     .modalBtn{
      @apply w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
     }
     .form{
      @apply py-10 px-4 bg-gray-50
     }
     .form_group{
      @apply w-full flex gap-2
     }
     .form_btn_wrap{
      @apply w-full md:w-[60%] m-auto
     }
     .search_wrap{
      @apply my-4 flex items-center justify-between gap-4
     }
     .link{
      @apply text-blue-600  capitalize hover:underline
     }
 }
 
 @layer base{
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }
   body{ 
    color: rgb(78, 77, 77);
   }

   /*  navbar responsive start*/
   .nav_menu_icon{
      display: none;
   }


   @media screen and (max-width:768px) {
    .nav_menu_icon{
      display: block;
      z-index: 999;
   }
   .navUl {
    flex-direction: column;
    width: 60%;
    height: 100ch;
    padding: 50px 0px;
    background-color: #4d44b5;
    color: white;
    align-items: center; 
    padding: 50px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;  
    transition: opacity 1s ease;
}
 
   }


   /*  navbar responsive end */


  input[type="checkbox"]{
    cursor: pointer;
    transition: 2s all ease;
    text-align: center; 
  }
  input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid dodgerblue;
    border-radius: 3px;
  }
   ::-webkit-scrollbar {
    width: 5px;  
    height: 8px;             
  }
  
   ::-webkit-scrollbar-thumb {
    /* background-color: rgb(119, 152, 248);    */
    background-color: rgb(193, 195, 197);
    border-radius: 10px;       
  }
  ::-webkit-scrollbar-track-piece{
    /* background-color: rgb(41, 89, 230); ; */
    background-color: white;
    height: 5px;
  }
 
  /* loader animation */
  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #2ca778 #a14747 transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      
  /* loader animation end */

 }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
