@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components{
  /*  dashboard start here */
   .dashboard{
    @apply flex flex-wrap  bg-gray-200
   }
   .dashboardSidebar{
     @apply  w-[300px] h-screen overflow-y-auto bg-gray-50 text-black 
   }

   .sidebarItem{
     @apply capitalize tracking-widest my-3 py-3 px-3 font-bold cursor-pointer  hover:bg-purple-100 hover:text-purple-500 duration-300
   }
   .sidebarSubItem{
    @apply my-3 hover:bg-purple-200 px-2 py-1 font-medium text-sm text-black hover:text-black
   }
   .dashboardMain{
    @apply flex-1 px-10 h-screen overflow-y-auto
   }

   .adminLoginPage{
    @apply bg-gray-100 w-full h-screen flex items-center justify-center
   }
   .adminLogin{
    @apply w-[90%] py-20 bg-white shadow-md shadow-gray-200 flex items-center justify-between flex-wrap
   }
    .adminLogin div{
      @apply w-[48%]
    }
    .adminLogin form{
      @apply px-10
    }
.input{
  @apply w-full py-2 px-3 my-3 focus:outline-0 bg-gray-100 border 
}
.formBtn{
  @apply py-3 px-4 text-center font-medium w-full capitalize my-5 bg-blue-500 hover:bg-blue-600 text-white rounded-3xl duration-200
}

.addAdminPage{
  @apply w-full h-screen flex items-center justify-center
}
.addAdminPage form{
   @apply w-full md:w-[75%] m-auto bg-white px-5 py-20
}
.addAdminPage form input{
  @apply input
}
     /*  dashboard end here */
 }
 
 @layer base{
   ::-webkit-scrollbar {
    width: 8px;               
  }
  
   ::-webkit-scrollbar-track {
    background: gray;        
  }
  
   ::-webkit-scrollbar-thumb {
    background-color: rgb(194, 192, 192);   
    border-radius: 20px;       
  }
 }

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
